

@media only screen and (max-width: 1024px){
    .row{
        margin: 0 15px;
    }
    .main-nav{
        display: none;
    }
    html{
        font-size: 57.5%;
    }
    .hero-text-box{
        width: 100%;
    }
    .client-photo,
    .client-review{
        width: 100%;
        float: none;
        text-align: center;
    }
    .contact-section form{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width:985px){
    .client-review{
        width: 95%;
    }
    .span_1_of_4{
        width:49.2%
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    html{
        font-size: 62.5%;
    }
}
@media only screen and (max-width:768px){
    .little-description{
        width: 100%;
        margin-left: 0;
    }
    h1{
        font-size: 3.2rem;
    }
    h2{
        font-size: 3rem
    }
    h3{
        font-size: 2rem;
    }
    .span_1_of_4{
        width: 100%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    .client-review{
        width: 100%;
    }


}
